/* Whole page style */
html, body {
  /* Body background */
  background: #F6F6F6;

  /* No margin/padding */
  margin: 0; padding: 0;

  /* Text font */
  font-family: 'Lato', sans-serif;
}

/* Page menu */
.menu{
  /* Menu color */
  background-color: #2B2B2B;

  /* Ajust menu */
  margin: 0; padding: 0;
  width: 100%; height: 48px;
  top: 0;
  display: block;
  overflow: hidden;
  position: fixed;

  /* Remove list style */
  list-style-type: none;

  /* Text style overrride */
  font-size: 14px;
}

/* Align all on top left or right */
li .menuLeft{float: left;}
li .menuRight{float: right;}

/* Style the buttons */
li a{
  display: block;
  height: 100%;
  color: #ffffff;
  text-align: center;

  line-height: 48px;

  padding: 0 16px;
  text-decoration: none;
}
/* Change the color on hover */
li a:hover{
  background-color: #111111;
}
