/* Whole page style */
body, html {
  /* Body background */
  background: #2B2B2B;

  /* No margin/padding */
  margin: 0; padding: 0;

  /* Text font */
  font-family: 'Lato', sans-serif;
}

/* Page menu */
.menu{
  /* Menu color */
  background-color: #303030;

  /* Ajust menu */
  margin: 0; padding: 0;
  width: 100%; height: 32px;
  top: 0;
  display: block;
  overflow: hidden;
  position: fixed;

  /* Prepare underlining menu */
  padding-bottom: 1px;

  /* Remove list style */
  list-style-type: none;

  /* Text style overrride */
  font-size: 12px;
}

/* Align all on top left or right */
li .menuLeft{float: left;}
li .menuRight{float: right;}

/* Style the buttons */
li a{
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color to black on hover */
li a:hover{
  background-color: #111111;
  box-shadow: 0 1px 0 0 #ffffff; /* Underlining on hover */
}
